In [24]:
import numpy as np
import pandas as pd
import joblib

In [25]:
test_data = pd.read_csv("test.csv")
# test_data

In [27]:
num_data = [i for i in list(test_data) if test_data[i].dtype != 'object']
cat_data = [i for i in list(test_data) if test_data[i].dtype == 'object']

In [28]:
num_dataset = test_data.copy()
cat_dataset = test_data.copy()
for i in cat_data:
    num_dataset.drop(columns=[i], inplace=True)
for i in num_data:
    cat_dataset.drop(columns=[i], inplace=True)

In [29]:
for i in range(len(cat_dataset.iloc[:, 1])):
    if cat_dataset.iloc[i, 1] == 'male':
        cat_dataset.iloc[i, 1] = 1
    else:
        cat_dataset.iloc[i, 1] = 0

In [30]:
cat_dataset["Sex"] = cat_dataset["Sex"].astype(float)

In [31]:
num_dataset = num_dataset.join(cat_dataset["Sex"])
# num_dataset

In [32]:
cat_dataset.drop(columns=["Sex"], inplace=True)

In [33]:
num_dataset = num_dataset.join(cat_dataset["Embarked"])

In [49]:
full_pipeline = joblib.load("full_pipeline.joblib")
data = full_pipeline.transform(num_dataset)

In [ ]:
attribs = list(num_dataset)
attribs.remove("Embarked")
attribs.extend(['C', 'Q', 'S'])
df = pd.DataFrame(data, columns=attribs)
# df

     PassengerId  Pclass   Age  SibSp  Parch      Fare  Sex    C    Q    S
0          892.0     3.0  34.5    0.0    0.0    7.8292  1.0  0.0  1.0  0.0
1          893.0     3.0  47.0    1.0    0.0    7.0000  0.0  0.0  0.0  1.0
2          894.0     2.0  62.0    0.0    0.0    9.6875  1.0  0.0  1.0  0.0
3          895.0     3.0  27.0    0.0    0.0    8.6625  1.0  0.0  0.0  1.0
4          896.0     3.0  22.0    1.0    1.0   12.2875  0.0  0.0  0.0  1.0
..           ...     ...   ...    ...    ...       ...  ...  ...  ...  ...
413       1305.0     3.0  28.0    0.0    0.0    8.0500  1.0  0.0  0.0  1.0
414       1306.0     1.0  39.0    0.0    0.0  108.9000  0.0  1.0  0.0  0.0
415       1307.0     3.0  38.5    0.0    0.0    7.2500  1.0  0.0  0.0  1.0
416       1308.0     3.0  28.0    0.0    0.0    8.0500  1.0  0.0  0.0  1.0
417       1309.0     3.0  28.0    1.0    1.0   22.3583  1.0  1.0  0.0  0.0

[418 rows x 10 columns]